APP_NAME=Vulnerability Detection API
APP_ENV=development
APP_DEBUG=true
APP_HOST=0.0.0.0
APP_PORT=8000

API_V1_PREFIX=/api/v1

MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=vuln_scanner

MODEL_NAME_OR_PATH=microsoft/codebert-base
MODEL_DEVICE=cpu

MAX_UPLOAD_SIZE_BYTES=5242880
LOG_LEVEL=INFO
